!server/config/
server/config/Chikachi/discordintegration.json
!server/local/
!server/server-icon.png
!server/server.properties
tmp/*
multimc/*
webroot
.sass-cache
multimc\.version
server/world*
server/backups
server/crash-reports
server/mods
server/*.json
server/sampler*
server/*log*
server/journeymap
server/*.zip
server/stall-reports
server/startup.nps
server/*.jar
server/eula.txt
server/debug
server/down.tgz
server/newconfig
server/temp
